body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
label, input{
  display: block;
}
input, select{
  margin-bottom: 16px;
}
.info-row, .info-container {
  display:flex;
}
.info-row{
  flex: 1;
}
.label {
  font-weight:bold;
  margin-right: 8px;
}
.info-container{
  gap: 16px;
}
.name-row{
  font-size: 20px;
}
.card p{
  margin:6px;
}
.card{
  border: 1px solid #999;
  border-radius: 8px;
  max-width: 400px;
  padding: 16px;
}
.title{
  display:flex;
  justify-content:center;
  font: 18px "Comic Sans MS", Helvetica, Arial, sans-serif;
}
.address-text p{
  padding:0;
  margin:0;
}
.address-text p:first-child{
  margin-top: 6px;
}
.address-text p:last-child{
  margin-bottom: 6px;
}
/*change card colors to reflect type of insurance*/
.card.premium{
  border: 2px solid #f3b53d;
  color: #fac002;
  background-color: rgba(245, 238, 41, 0.61);
}
.card.standard{
  border: 2px solid #999;
  color: #736d6b;
  background-color: rgba(153, 153, 153, 0.51);
}
.card.bronze{
  border: 2px solid #fcb221;
  color: #ff8f2d;
  background-color: rgba(252, 183, 78, 0.65);
}
p.label, .title{
  color: #000000;
  font-weight: bold;
}
a {
  color: #00B7FF;
}
